<h3 align="center">CAB BOOKING</h3>

<form id="ride-duration" method="post" action="/cabBooking">
  <div class="form-group">
    <label for="duration">Enter duration of ride (in minutes)</label>
    <input type="number" class="form-control" id="time" name="time" placeholder="Time (1 to 60 mins)" required="true" min="1" max="60" />
     <button type="submit" class="btn btn-primary ">Book A Cab</button>
  </div>
</form>



