<h3 align="center">CAB BOOKING</h3>

<form id="count" method="post" action="/">
  <div class="form-group">
    <label for="drivers">How many drivers?</label>
    <input type="number" class="form-control" id="driver" name="driver" placeholder="Enter no. of drivers" required="true" min="1" max="50" />
     <button type="submit" class="btn btn-primary ">Submit</button>
  </div>
</form>


