<h5 align="center">Drivers are exhausted</h3>

    <form id="option">
        <div class="form-group">
            <label for="options" Choose></label>
            <button type="submit" class="btn btn-primary" formaction="/" method="get">Click to add drivers(s)</button>
            <button type="submit" class="btn btn-primary" formaction="/cabBooking" method="get">Wait for {{time}} mins</button>
            <button type="submit" class="btn btn-primary" formaction="/reports" method="get">Generate Reports</button>
            <br />
            <br />
        </div>
    </form>
    <div>
    