<h3 align="center">BOOKING SUCCESSFUL</h3>

<form id="success" method="get" action="/cabBooking">
<div class="form-group">
<button type="submit" id="new-booking" class="btn btn-primary">Click to book another Cab</button>
</div>
</form>
